<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <%= link_to student_home_url(CF: params[:CF]) do %>
            <div class="profile">
                home
            </div>
        <% end %>

        <%= form_tag family_checklogout_path, method: :delete do %>
            <%= submit_tag 'Logout', class: 'profile' %>
        <% end %>
    </nav>

    <div class="panel">
          
        <table>
            <thead>
                <tr>
                <th>Media complessiva</th>
                </tr>
            </thead>

            <tbody>

                <% @student = Student.find_by(CF: params[:CF])%>
                <% @grades = Grade.where(CFstudent: @student.CF)%>


                <% @grades.each do |grade| %>
                    <tr>
                        <td>
                        <%= grade.value %>
                        <br>
                        </td>
                        
                        <td><%= grade.subject_name %></td>
                    </tr>
                    <td><%= grade.date.strftime("%Y-%m-%d") %></td>
                    
                <% end %>
            </tbody>
        </table>
    </div>

</body>
</html>
