//STUDENT HOME

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "student_home.css" %>
    <%# <%= javascript_include_tag('teacher.js') %> 
    <title>Home</title>
</head>
<body>
    <nav class="navbar">
        <%= link_to student_home_url(CF: params[:CF]) do %>


     

            <label class="writ">
                <%= @student.name %>
            </label>
        <% end %>
        <%= link_to student_profile_url(CF: params[:CF]) do %>
            <div class="profile">
                Profile
            </div>

        <% end %>
      </nav>
    <div class="home">
        <div class="panel-container">

            <%= link_to student_grades_url(CF: params[:CF]) do %>
            <div class="panel">
                grades
            </div>
             <% end %>

            <%= link_to student_absence_url(CF: params[:CF]) do %>
            <div class="panel">
                Absences
            </div>
             <% end %>
            
            <%= link_to student_homework_url(CF: params[:CF]) do %>
            <div class="panel">
                Assignments
            </div>
             <% end %>

            <%= link_to "/login_schoolstaff" do %>
            <div class="panel">
                agenda
            </div>
             <% end %>

            <%= link_to student_news_url(CF: params[:CF]) do %>
            <div class="panel">
                news
            </div>
             <% end %>

            <%= link_to student_notes_url(CF: params[:CF]) do %>
            <div class="panel">
                personal notes
            </div>
             <% end %>
        </div>
    </div>
    
</body>
</html>