<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "student_meeting_choice.css" %>
    <%= javascript_include_tag('family.js') %>
    <title>Document</title>
</head>
<body>
<nav class="navbar" id = "absencenav">
        <%= link_to student_home_url(CF: params[:CF], CFstudent: params[:CFstudent]), class: "link-profile no-underline" do %>
            <div class="writ">
                OneSchool
            </div>
        <% end %>


        <%= link_to student_profile_url(CF: params[:CF],  CFstudent: params[:CFstudent]), class: "link-profile no-underline" do %>
            <div class="profile">
                Profile
            </div>
        <% end %>
    </nav>

    <table class ="student-meeting-container-2">
            <thead class="stud-options-title">
                <tr>
                <th class="option-elem">Teacher</th>
                <th class="option-elem">Subject</th>
                <th class="option-elem">Select</th>
                </tr>
            </thead>

            <tbody class="stud-tab-body">

                <% @student=Student.find_by(CF: params[:CF]) %>
                <% @familystud = FamilyStudent.find_by(CFstudent: params[:CF]) %>
                <% @family = Family.find_by(CF: @familystud.CFfamily) %>
                <% @classrooms = ClassRoom.find_by(class_code: @student.student_class_code, school_code: @student.school_code)%>
                <% @unique_subjects = Subject.where(class_code: @classrooms.class_code, school_code: @classrooms.school_code).distinct.pluck(:name, :CFprof)%>
                



                <% @unique_subjects.each do |unique_subject| %>
                    
                    <tr class = "option-student">
                        <td class="stud-tab-col">
                            <% @teacher = Teacher.find_by(CF: unique_subject[1]) %>
                            <%= @teacher.name%>
                            <%= @teacher.surname%>
                        </td>

                        <td class="stud-tab-col" id="subj-col">
                            <%= unique_subject[0]%>
                        </td>

                        <td class="stud-tab-col">
                            <%= link_to student_meeting_manage_url(CF: params[:CF], CFprof: @teacher.CF), id:  @teacher.CF + "meeting_link" do %>
                                <button class="button-submit">
                                    meeting
                                </button>
                            <% end %>
                        </td>
                        
                        <td></td>
                    </tr>
                    <td></td>
                    
                <% end %>
            </tbody>
        </table>
    
    
</body>
</html>