<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_include_tag('family.js') %>
    <%= stylesheet_link_tag "student_meeting_manage.css" %>
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <%= link_to student_home_url(CF: params[:CF], CFstudent: params[:CFstudent]), class: "link-profile no-underline" do %>
            <div class="writ">
                OneSchool
            </div>
        <% end %>

        <%= link_to student_profile_url(CF: params[:CF]), class: "link-profile no-underline" do %>
            <div class="profile">
                Profile
            </div>
        <% end %>
    </nav>

    <div class= "container">
        <div class="title-absences">Book a meeting</div>
        <div id = "man-bookingPanel">
            <table class = "student-meetmanage-container-2">
            <thead class="man-options-title">
                <tr>
                <th class="man-tab-title">Giorno</th>
                <th class="man-tab-title">Mese</th>
                <th class="man-tab-title">  Ora  </th>
                <th class="man-tab-title"> Select  </th>
                </tr>
            </thead>

            <tbody class="man-tab-body">

                <% @free_slots.each do |free| %>
                    <tr class = "man-option">
                        <td class="man-tab-col">
                        <% @date = Date.parse(free)%>
                        <%= @date.day%>
                        <br>
                        </td> 
                        
                        <td class="man-tab-col">
                        <%= @date.month%>
                        <br>
                        </td> 

                        <% @time = Time.parse(free)%>
                        <td class="man-tab-col">
                        <%= @time.strftime('%H:%M')%>
                        <br>
                        </td> 

                        <td>
                        <%= form_with model: @student, url: add_student_meeting_url, class: 'form-book', method: :post do |form| %>
                            <%= hidden_field_tag :time, @time.hour %>
                            <%= hidden_field_tag :month, @date.month %>
                            <%= hidden_field_tag :day, @date.day %> 
                            <%= hidden_field_tag :CF, params[:CF] %>
                            <%= hidden_field_tag :free, free %>
                            <%= hidden_field_tag :CFprof, params[:CFprof] %>
            
                            <%#= select_tag :CFstudent, options_for_select(@student.map { |student| ["#{student[:name]} #{student[:surname]}", student[:CF]] }), class: "student-field", multiple: true %>
                            <%= form.submit "Book", class: "button-submit", id: @date.strftime('%d%m') + "_" + @time.strftime('%H')%>
                        <% end %>
                        <br>
                        </td>  

                    </tr>
                    
                    
                <% end %> 
            </tbody>
        </table>
        </div>
    

    <div id = "bookedPanel">
        <div class="titleee">Booked meetings</div>
         <table class ="student-meetmanage-container-2">
            <thead class="man-options-title">
                <tr>
                <th class="man-tab-title">Giorno</th>
                <th class="man-tab-title">Mese</th>
                <th class="man-tab-title"> Ora  </th>
                <th class="man-tab-title"> Go to link  </th>
                <th class="man-tab-title"> Delete meeting  </th>
                </tr>
            </thead>

            <tbody class="man-tab-body">

                <% @iso_meeting.each do |meeting| %>
                    <tr class = "man-option">
                        <td td class="man-tab-col">
                        <% @date = Date.parse(meeting)%>
                        <%= @date.day%>
                        <br>
                        </td> 
                        
                        <td td class="man-tab-col">
                        <%= @date.month%>
                        <br>
                        </td> 

                        <% @time = Time.parse(meeting)%>
                        <td td class="man-tab-col">
                        <%= @time.strftime('%H:%M')%>
                        <br>
                        </td> 

                        <td td class="man-tab-col">
                        <%@student=Student.find_by(CF: params[:CF])%>
                        <%@familystud = FamilyStudent.find_by(CFstudent: params[:CF])%>
                        <%@family = Family.find_by(CF: @familystud.CFfamily)%>
                        <%@comm = Commitment.find_by(CFprof: params[:CFprof], CFfamily: @family.CF, date: DateTime.strptime(meeting, "%Y-%m-%d %H:%M:%S %z")) %>
                    
                        <%= link_to @comm.link, id: @date.strftime('%d%m') + "_" + @time.strftime('%H') + "Go" do %>
                            Go 
                        <% end %>
                        <br>
                        </td>  

                        <td td class="man-tab-col">
                        <%= form_with model: @student, url: delete_student_meeting_url, class: 'form-booked', method: :delete do |form| %>
                            <%= hidden_field_tag :CF, params[:CF] %>
                            <%= hidden_field_tag :CFprof, params[:CFprof] %>
                            <%= hidden_field_tag :CFstudent, params[:CFstudent] %>
                            <%= hidden_field_tag :meeting, meeting %>

                            <%#= select_tag :CFstudent, options_for_select(@student.map { |student| ["#{student[:name]} #{student[:surname]}", student[:CF]] }), class: "student-field", multiple: true %>
                            <%= form.submit "Delete", class: "button-submit", id: @date.strftime('%d%m') + "_" + @time.strftime('%H') + "Del"%>
                        <% end %>
                        <br>
                        </td>  

                    </tr>
                <% end %> 
            </tbody>
        </table>
    </div>    
    
    
</body>
</html>