<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "news.css" %>
    <%= javascript_include_tag('family.js') %>

    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <%= link_to student_home_url(CF: params[:CF]) do %>
            <div class="profile">
                home
            </div>
        <% end %>


        <%= form_tag student_checklogout_path, method: :delete do %>
            <%= submit_tag 'Logout', class: 'profile' %>
        <% end %>
    </nav>

    

    <div class="panel">
          
        <table>
            <thead>
                <tr>
                <th> Titolo </th>
                <th> Teacher</th>
                </tr>
            </thead>

            <tbody>
                <div id="popup" class="popup">
        
                </div>      
                <% @news.each do |news| %>
                    <tr>
                        

                        <td>
                        <button class="profile-button" onclick="popup('<%= news.text %>')"> <%= news.title %></button>
                        
                        </td>
                        <td><%= news.date %></td>
                  
                    </tr>
                <% end %>
            </tbody>
        </table>

        

    </div>

</body>
</html>
