<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "news.css" %>
    <%= javascript_include_tag('family.js') %>

    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <%= link_to family_home_url(CF: params[:CF], CFstudent: params[:CFstudent]) do %>
            <div class="profile">
                home
            </div>
        <% end %>

        <%= link_to family_choose_url(CF: params[:CF]) do %>
            <div class="profile">
                Change student
            </div>
        <% end %>

        <%= form_tag family_checklogout_path, method: :delete do %>
            <%= submit_tag 'Logout', class: 'profile' %>
        <% end %>
    </nav>

    

    <div class="panel">
          
        <table>
            <thead>
                <tr>
                <th> Code </th>
                <th> Teacher</th>
                <th> Description</th>
                </tr>
            </thead>

            <tbody>
                <div id="popup" class="popup">
        
                </div>      
                <% @notes.each do |note| %>
                    <tr>
                        <td><%= note.id %></td>
                        <% @teach = Teacher.find_by(CF: note.CFprof)%>
                        <td><%= @teach.name %><%= @teach.surname %></td>

                        <td><%= note.date %></td>

                        <td>
                        <button class="profile-button" onclick="popup('<%= note.description %>')"> details </button>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>

        

    </div>

</body>
</html>
