<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "profile.css" %>
    <%= javascript_include_tag('student.js') %>
    <title>Profile</title>
</head>
<body>
    <div id="popupcontainer"></div>
    <nav class="navbar">
        <%= link_to student_home_url(CF: params[:CF]) do %>
            <label class="writ">
                <%= @student.name %>
            </label>
        <% end %>
        <%= link_to student_profile_url(CF: params[:CF]) do %>
            <div class="profile">
                Profile
            </div>
        <% end %>
      </nav>
    <div class="home">
        <div class="main-panel">
            <label class="profile-field"><%= @student.name %> </label>
            <label class="profile-field"><%= @student.surname %> </label>
            <label class="profile-field"><%= @student.CF %> </label>
            <label class="profile-field"><%= @student.mail %> </label>
            <label class="profile-field"><%= @student.school_code %> </label>
            <div class="button-container">
                <button class="profile-button" onclick="editpassword('<%= @student.CF%>', '<%= @student.mail%>')">Modifica password</button>
                <%= form_tag student_checklogout_path, method: :delete do %>
                    <%= submit_tag 'Logout', class: 'profile-button' %> 
                <% end %> 
            </div>
            
        </div>
    </div>
</body>
</html>