<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "teacher_class.css" %>
    <title>Class</title>
</head>
<body>
    <nav class="navbar">
        <%= link_to teacher_classroom_url(CF: params[:CF], classroom: @classname) do %>
            <label class="writ">
            <%= @classname %>
            </label>
        <% end %>
        <%= link_to teacher_profile_url(CF: params[:CF]) do %>
            <div class="profile">
                Profile
            </div>
        <% end %>
      </nav>
    <div class="home">
        <div class="panel-container">
            <%= link_to teacher_grade_url(CF: @teacher.CF, classroom: @classname) do %>
            <div class="panel">
                grades
            </div>
             <% end %>
            <%= link_to teacher_absence_url(CF: @teacher.CF, classroom: @classname) do %>
            <div class="panel">
                absences
            </div>
             <% end %>
            <%= link_to "/login_schoolstaff" do %>
            <div class="panel">
                classes
            </div>
             <% end %>
            <%= link_to teacher_homework_url(CF: @teacher.CF, classroom: @classname) do %>
            <div class="panel">
                assignments
            </div>
             <% end %>
            <%= link_to "/login_schoolstaff" do %>
            <div class="panel">
                agenda
            </div>
             <% end %>
            <%= link_to teacher_communication_url(CF: @teacher.CF, classroom: @classname) do %>
            <div class="panel">
                news
            </div>
             <% end %>
            <%= link_to teacher_note_url(CF: @teacher.CF, classroom: @classname) do %>
            <div class="panel">
                personal notes
            </div>
             <% end %>
             <%= link_to teacher_requestmeeting_url(CF: @teacher.CF, classroom: @classname) do %>
            <div class="panel">
                request meeting
            </div>
             <% end %>
        </div>
    </div>
    
</body>
</html>