<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <%= stylesheet_link_tag "teacher_commitment.css" %>
   
    <title>Commitment</title>
</head>
<body> 
    <nav class="navbar">
        <%= link_to teacher_home_url, class: "link-profile no-underline" do %>
            <div class="writ">
                Home
            </div>
        <% end %>
        <%= link_to teacher_profile_url, class: "link-profile no-underline" do %>
            <div class="profile">
                Profile
            </div>
        <% end %>
      </nav>
    <div class="home">
      <label class="title">Commitment</label>
          <% flash.each do |key, message| %>
            <div class="flash <%= key %>">
                <%= message %>
            </div>
        <% end %>
      <div class="main-panel">
        <div class="show-calendar">

        <iframe src="https://calendar.google.com/calendar/embed?src=6fb8a61d5cfb51e60783c32a6eb22acfaf8de8c8126dc7dbabb7da7568a85cc7%40group.calendar.google.com&ctz=Europe%2FRome" sstyle="border: 0" width="900" height="450" frameborder="0" scrolling="no"></iframe>

        </div> 
        <div class="insert-commitment">
        
          <label class="form-title">Insert new commitment</label>
          <%= form_with url: teacher_managecommitment_url, class: 'form-subject', method: :post do |form| %>
              <%= hidden_field_tag :CFprof, @teacher.CF %>
              <%= hidden_field_tag :school_code, @teacher.school_code %>
              <label class="label-form">Title</label>
              <%= form.text_field :title, class: 'form-field' %>
              <label class="label-form">Data</label>
              <%= datetime_field_tag :date, step: 3600 , class: 'form-field'  %>
              <div class="hour-container">
                  <label class="label-form">Insert duration (h)</label>
                  <%= form.number_field :hour, class: 'number-field', min: 0 %>
              </div>
              <%= form.submit "Insert", class: "button-submit" %>
          <% end %>
        </div>
      </div>
           
      
    </div>

</body>
</html>