
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="teacher_home.css">
    <title>Home</title>
</head>
<body>
    <nav class="navbar">
        <label class="writ">
          <%= @teacher.name %>
        </label>
        <%= link_to teacher_profile_url, class: "link-profile no-underline" do %>
            <div class="profile">
                Profile
            </div>
        <% end %>
         
      </nav>
    <div class="home">
        <div class="whole-panel">
            <div class="right-panel">
                <%= link_to teacher_commitment_url, class: "calendar" do %>
                    <div class="calendar">
                        Personal Calendar
                    </div>
                <% end %>
                <%= link_to teacher_meeting_url(CF: params[:CF]), class: "meeting" do %>
                    <div class="meeting">
                        Meeting
                    </div>
                <% end %>
            </div>
            <div class="left-panel">
                <label class="label-panel"> </label>
                <%= form_with url: teacher_classroom_url, class: 'form-class', method: :get do |form| %>
                    <%= form.select :classroom, options_for_select(@classrooms), {},  class: "select-class"%>
                    <%= form.submit "Go to class", class: "submit-button", id: "select_btn" %>
                <% end %>
                <% flash.each do |key, message| %>
                    <div class="flash <%= key %>">
                        <%= message %>
                    </div>
                <% end %>
                
            </div>
        </div>
        
    </div>
</body>

</html>