<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="teacher_home.css">
    <title>Home</title>
</head>
<body>
    <nav class="navbar">
        <label class="writ">
          name
        </label>
        <%= link_to teacher_profile_url(CF: params[:CF]) do %>
            <div class="profile">
                Profile
            </div>
        <% end %>
        <%= form_tag teacher_checklogout_path, method: :delete do %>
            <%= submit_tag 'Logout', class: 'profile' %> 
        <% end %>  
      </nav>
    <div class="home">
        <div class="whole-panel">
            <div class="right-panel">
                <%= link_to "/teacher/calendar" do %>
                    <div class="calendar">
                        Agenda personale
                    </div>
                <% end %>
                <%= link_to teacher_meeting_url do %>
                    <div class="meeting">
                        Link meeting
                    </div>
                <% end %>
            </div>
            <div class="left-panel">
                <label class="label-panel"> </label>
                <%# <%= form_with url: "/class", method: :get do |form|, class: "form-class" %>
                   <%# <%= form.select :city, ["Berlin", "Chicago", "Madrid"], class: "select-class"%>
                   <%# <%= form.submit "vai alla classe", class: "submit-button" %>
                   <%# <% end %>
            
                
            </div>
        </div>
    </div>
</body>
</html>