<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "teacher_absence.css" %>
    <%= javascript_include_tag('teacher.js') %>

    <title>homeworks</title>
</head>
<body>
    <nav class="navbar">
        <%= link_to teacher_classroom_url(CF: params[:CF], classroom: @classname) do %>
            <label class="writ">
            <%= @classname %>
            </label>
        <% end %>
        <%= link_to teacher_profile_url(CF: params[:CF]) do %>
            <div class="profile">
                <%= @teacher.name %>
            </div>
        <% end %>
    </nav>
    <div class="home">
        <label class="title"> homeworks </label>
        <div class="insert-container">
            <%= form_with url: teacher_managehomework_url, class: 'form-subject', method: :post do |form| %>
                <%= hidden_field_tag :class_code, @classname %>
                <%= hidden_field_tag :CFprof, @teacher.CF %>
                <%= hidden_field_tag :school_code, @teacher.school_code %>
                <%= select_tag :subject_name, options_for_select(@subjects), class: "form-field" %>
                <%= datetime_field_tag :date, class: 'form-field', step: 900%>
                <%= form.text_field :name, class: 'form-field' %>
                <%= form.text_area :text, size: "70x5" %>
                <%= hidden_field_tag :delivered, false %>
                <%= form.submit "Save homework", class: "button-submit" %>
            <% end %>
        </div> 
        
         <% @homeworks.each do |homework| %>
            <tr class="table">
                <td> <%= homework.date %></td>
                <td> <%= homework.subject_name %></td>
                <td> <%= homework.name %></td>
                <td> <%= homework.text %></td>
                <br>
            </tr>
        <% end %> 
    </div>
</body>
</html>