<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <%= stylesheet_link_tag "login.css" %>
     <%# <%= javascript_include_tag('admin.js') %>
    <title>Login teacher</title>
</head>
<body>
    <nav class="navbar">
        <label class="writ">
          name
        </label>
        <div class="profile">
          Profile
        </div> 
      </nav>
    <div class="home">
        <label class="title"> Login as Teacher</label>
        <%= form_with url: teacher_checklogin_url, class: 'form-login', method: :post do |form| %>
            <label class="label-field"> Email</label>
            <%= form.email_field :mail, class: 'text-field' %>
            <label class="label-field"> Password</label>
            <%= form.password_field :password, class: 'text-field' %>
            <%= form.submit "login", class: 'button-field' %>
        <% end %>
        <% if cookies[:teacher].present? %>
            <% puts(cookies[:teacher].present?) %>
            <%= button_to  'Signup with Google', user_google_oauth2_omniauth_authorize_path, method: :post, :data => {turbo: "false"} %>
        <% end %>
        <% flash.each do |key, message| %>
            <div class="flash <%= key %>">
                <%= message %>
            </div>
        <% end %>
    </div>
    
</body>
</html>
