<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <%= stylesheet_link_tag "login.css" %>
     <%# <%= javascript_include_tag('admin.js') %>
    <title>Login teacher</title>
</head>
<body>
    <nav class="navbar">
        <label class="writ">
          name
        </label>
        <div class="profile">
          Profile
        </div>
      </nav>
    <div class="home">
        <label class="title"> Login as Teacher</label>
        <%= form_with url: teacher_checklogin_url, class: 'form-login', method: :post do |form| %>
            <label class="label-field"> Email</label>
            <%= form.email_field :mail, id: 'email-field', class: 'text-field' %>
            <label class="label-field"> Password</label>
            <%= form.password_field :password, id: 'password-field', class: 'text-field' %>
            <%= form.submit "login", id: 'login-button', class: 'button-field' %>
        <% end %>

        <% flash.each do |key, message| %>
            <div class="flash <%= key %>">
                <%= message %>
            </div>
        <% end %>
    </div>
    
</body>
</html>
