<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <%= stylesheet_link_tag "teacher_meeting.css" %>
   
    <title>Meeting</title>
</head>
<body> 
    <nav class="navbar">
        <%= link_to teacher_home_url(CF: params[:CF]) do %>
            <label class="writ">
                home
            </label>
        <% end %>
        <%= link_to teacher_profile_url(CF: params[:CF]) do %>
            <div class="profile">
                Profile
            </div>
        <% end %>
      </nav>
    <div class="home">
      <div class="meeting-screen" id="contenitor">
        <%= link_to @link_teacher do %>
            Link meeting
        <% end %>
      </div>
      <% @meetings.each do |meeting| %>
            <tr class="table">
            <td> <%= meeting.title %></td>
            <td> <%= meeting.date %></td>
            <td> <%= Family.where(CF: meeting.CFfamily).pluck(:name).uniq.join %></td>
            <td> <%= Family.where(CF: meeting.CFfamily).pluck(:surname).uniq.join %></td>
             <td> <%= meeting.link %></td>
            <br>  
            </tr>
        <% end %> 
      
    </div>
    
</body>
</html>