<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "teacher_note.css" %>
    <%= javascript_include_tag('teacher.js') %>
    <title>Note</title>
</head>
<body>
    <nav class="navbar">
        <%= link_to teacher_classroom_url(classroom: @classname), class: "link-profile no-underline" do %>
            <label class="writ"> Classroom: 
            <%= @classname %>
            </label>
        <% end %>
        <%= link_to teacher_profile_url, class: "link-profile no-underline" do %>
            <div class="profile">
                Profile
            </div>
        <% end %>
    </nav>
    <div class="home-note"> 
        <label class="note-title">Notes</label> 
        <div class="whole-note"> 
            <div class="note-container">
                <label class="note-title-p">Insert note</label>
                <%= form_with url: teacher_insertnote_url, class: 'form-note-1', method: :post do |form| %>
                    
                    <%= form.hidden_field :CFprof, value: @teacher.CF %>
                    <%= form.hidden_field :school_code, value: @teacher.school_code %>
                    <%= form.hidden_field :class_code, value: @classname %>
                    <div class="note-inner-form">
                        <div class="sym-note">
                            <label class="note-label"> Select student </label>
                            <%= select_tag :CFstudent, options_for_select(@students.map { |student| ["#{student[:name]} #{student[:surname]}", student[:CF]] }), class: "note-student-field", multiple: true %>
                        </div>
                        <div class="sym-note-2">
                            <label class="note-label-1"> Date </label>
                            <%= datetime_field_tag :date, class: 'note-field'%>
                        </div>
                    </div>
                  
                    <label class="note-label"> Description </label>
                    <%= form.text_area :description, size: "70x5", class: 'note-text' %>
                    <%= form.submit "Save note", class: 'button-submit-note' %>
                <% end %>
                <% flash.each do |key, message| %>
                    <div class="flash <%= key %>">
                        <%= message %>
                    </div>
                <% end %>
            </div>
            <div class= "note-container-2">
                <label class="note-title">Inserted notes</label>
                <% if @notes.present?%>
                    <% @notes.each do |note| %>
                      <div class="note">
                        <div class="justification-container">
                            <% if note.justified == true%>
                                 <%= "justified" %>
                            <% else %>
                                <%= "not justified"%>
                            <% end %> 
                        </div>
                        <div class="note-field-container">
                          <label class="note-label"><%= name=Student.where(CF: note.CFstudent).pluck(:name).uniq.join %> 
                          <%= surname=Student.where(CF: note.CFstudent).pluck(:surname).uniq.join %></label>
                          <label class="note-label"><%= note.date.strftime('%Y/%m/%d') %>
                        </div>
                      </div>
                    <% end %> 
                <% else %>
                    <%= "there aren't any notes yet" %>
                <% end %>
            </div>
        </div>
    </div>
    
</body>
</html>