<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "profile.css" %>
    <%= javascript_include_tag('teacher.js') %>
    <title>Note</title>
</head>
<body>
    <nav class="navbar">
        <%= link_to teacher_classroom_url(classroom: @classname), class: "link-profile no-underline" do %>
            <label class="writ"> Classroom: 
            <%= @classname %>
            </label>
        <% end %>
        <%= link_to teacher_profile_url, class: "link-profile no-underline" do %>
            <div class="profile">
                Profile
            </div>
        <% end %>
    </nav>
    <div class="note-home">
        <label class="note-title">Notes</label> 
        <div class="whole-note"> 
            <div class="note-panel">
                <label class="note-title-p">Insert note</label>
                <%= form_with url: teacher_insertnote_url, class: 'form-note', method: :post do |form| %>
                <br>
                    <label class="note-label"> Select student </label>
                    <%= form.hidden_field :CFprof, value: @teacher.CF %>
                    <%= form.hidden_field :school_code, value: @teacher.school_code %>
                    <%= form.hidden_field :classroom, value: @classname %>
                    <%= form.select :CFstudent, options_for_select(@students.map { |student| ["#{student[:name]} #{student[:surname]}", student[:CF]] }),  class: "note-field"%>
                    <%= date_field_tag :date, value: Date.today, class: 'note-field'%>
                    <label class="note-label"> Insert text</label>
                    <%= form.text_area :description, size: "70x5", class: 'note-text' %>
                    <%= form.submit "submit", class: 'button-field' %>
                <% end %>
                <% flash.each do |key, message| %>
                    <div class="flash <%= key %>">
                        <%= message %>
                    </div>
                <% end %>
            </div>
            <div class= "note-panel-2">
                <label class="note-title">Inserted notes</label>
                <br>
                
                <%#<% @notes.each do |note| %>
                <%#    <div class="noteclass">
                <%#     <%= note.date.strftime('%Y/%m/%d') %><br>
                <%#     <%= name=Student.where(CF: note.CFstudent).pluck(:name).uniq.join %>
                <%#     <%= surname=Student.where(CF: note.CFstudent).pluck(:surname).uniq.join %>
                <%#     <br>
                <%#     <%= note.description %> <br>
                <%#     <% if note.justified == false%>
                <%#        <%= "not justified"%>
                <%#     <% else %>
                <%#        <%= "justified" %>
                <%#    <% end %>
                <%#    </div>
                <%#
                <%#<% end %>  
            </div>
        </div>
    </div>
    
</body>
</html>