<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "profile.css" %>
    <%= javascript_include_tag('teacher.js') %>
    <title>Profile</title>
</head>
<body>
    <div id="popupcontainer"></div>
    <nav class="navbar">
        <label class="writ">
          name
        </label>
        <%= link_to teacher_profile_url(CF: params[:CF]) do %>
            <div class="profile">
                Profile
            </div>
        <% end %>
        <%= form_tag teacher_checklogout_path, method: :delete do %>
            <%= submit_tag 'Logout', class: 'profile' %> 
        <% end %> 

      </nav>
    <div class="home">
        <div class="main-panel">
            <label class="profile-field"><%= @teacher.name %> </label>
            <label class="profile-field"><%= @teacher.surname %> </label>
            <label class="profile-field"><%= @teacher.CF %> </label>
            <label class="profile-field"><%= @teacher.mail %> </label>
            <label class="profile-field"><%= @teacher.school_code %> </label>
            <div class="button-container">
                <button class="profile-button" onclick="editpassword()">Modifica password</button>
                <button class="profile-button" onclick="deleteAccount()">Elimina Account</button>
            </div>
            
        </div>
    </div>
</body>
</html>