<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "profile.css" %>
    <%= javascript_include_tag('teacher.js') %>
    <title>Profile</title>
</head>
<body>
    <div id="popupcontainer"></div>
    <nav class="navbar">
        <%= link_to teacher_home_url, class: "link-profile no-underline" do %>
            <label class="writ">
                Home
            </label>
        <% end %>
        <%= link_to teacher_profile_url, class: "link-profile no-underline" do %>
            <div class="profile">
                Profile
            </div>
        <% end %>
      </nav>
    <div class="home">
        <div class="main-panel">
            <label class="profile-field"><%= @teacher.name %> </label>
            <%if !session[:teacher_code].present? %>
                <label class="profile-field"><%= @teacher.surname %> </label>
            <%end%>
            <label class="profile-field"><%= @teacher.mail %> </label>
            <label class="profile-field"><%= @teacher.school_code %> </label>
            <div class="button-container">
            <% puts (session[:teacher_code].present?)%>
                <%if !session[:teacher_code].present? %>
                <% puts (session[:teacher_code].present?)%>
                    <button class="profile-button" onclick="editpassword('<%= @teacher.CF%>', '<%= @teacher.mail%>')">Modifica password</button>
                <%end%>
                <%= form_tag teacher_checklogout_path, method: :delete do %>
                    <%= submit_tag 'Logout', class: 'profile-button' %> 
                <% end %> 
            </div>
            
        </div>
    </div>
</body>
</html>