<!DOCTYPE html>
<html>
<body>
  <h2>Meeting request</h2>
  <p>The teacher <%= @teacher.name %> <%= @teacher.surname %> requests a meeting with the parent of 
  <%= @student.name %> <%= @student.surname %> in the class <%= @student.student_class_code%> </p>
  <p><%= @text %></p>
</body>
</html>
