<!DOCTYPE html>
<html>
<body>
  <h2>Richiesta di colloquio</h2>
  <p>L'insegnante <%= @teacher.name %> <%= @teacher.surname %> richiede un colloquio con il genitore di 
  <%= @student.name %> <%= @student.surname %> nella classe <%= @student.student_class_code%> </p>
  <p><%= @text %></p>
</body>
</html>
