<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <%= stylesheet_link_tag "login.css" %>
    <title>Login admin</title>
</head>
<body>
    <nav class="navbar">
      <label class="writ">
        OneSchool
      </label>
    </nav>
    <div class="home">
        <label class="title"> Login as Admin</label>
        <%= form_with url: "admin/checklogin", class: 'form-login', method: :post do |form| %>
            <label class="label-field"> Email</label>
            <%= form.email_field :mail, class: 'form-field' %>
            <label class="label-field"> Password</label>
            <%= form.password_field :password, class: 'form-field' %>
            <%= form.submit "login", class: 'button-field' %>
        <% end %>
        <% if flash.now[:alert] %>
            <div class="alert alert-danger">
                <%= flash.now[:alert] %>
            </div>
        <% end %>

        <%= link_to admin_signup_url do %>
              You don't have a profile? signup
        <% end %>
    </div>
    
</body>
</html>
