<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "staff_subject_manage.css" %>
    <%= javascript_include_tag('staff.js') %>

     <title>Document</title>
</head>
<body>
<div id="popupContainer"></div>
<nav class="navbar">
<%= link_to school_staff_home_path(CF: params[:CF]),class: 'link-profile no-underline' do%>
        <div class="writ">
          OneSchool
        </div>
<%end%>
        <%= link_to school_staff_profile_url(CF: params[:CF]),class: 'link-profile no-underline' do %>
            <div class="profile">
                Profile
            </div>
        <% end %>
      </nav>
    <div class="home">
        <div class="upper-bottons">
      <%= link_to school_staff_communications_path(CF: params[:CF]),class: 'link-profile no-underline' do %>
            <div class="up-botton" id="first-botton">
                Communications
            </div><%end%>
        </div> 
<div class="main-panel">
    <div class="panel" id="first-panel" style="display:flex;">
    <div class="select-add">

    <%= form_with url: school_staff_search_communication_path, method: :get,class: 'form-search' do |form| %>
    <%= form.label :search, "Search for title:", class: "label-field" %>
    <%= form.text_field :search %>
    <%= form.submit "Search", class: 'style-button-small' %>
    <%= hidden_field_tag :school, User.where(CF: params[:CF]).pluck(:school_code) %>
    <%= hidden_field_tag :CF, params[:CF] %>
    <% end %>
    <button id="addCommunicationButton" class="style-button"  onclick = "openCommunicationForm(<%= params[:CF].to_json %>)"> Add communication</button>
 </div>
 <table class="tabella">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @communications== []%>
    <% if @ret_comm == "NOT_FOUND" %>
      <% params[:search] = "" %>
      <%= link_to "Reset Search", school_staff_communications_path(CF: params[:CF]) %>
    <% elsif @ret_comm.present? %>
      <% @communications = @ret_comm %>
      <% params[:search] = "" %>
      <%= link_to "Reset Search", school_staff_communications_path(CF: params[:CF]) %>
      
    <% else %>
      <% @communications = Communication.all %>
    <% end %>

    <% @communications.each do |comm| %>
      <tr>
        <td class="center"><%= comm.title %></td>
<td class="center"><button onclick="viewComunication(<%= comm.title.to_json%>,<%= comm.text.to_json %>,<%=  comm.date.to_json %>)">View</td>
        <td class= "center">
          <%= form_tag school_staff_delete_communication_path, method: :delete do %>
            <%= hidden_field_tag :CF, params[:CF] %>
            <%= hidden_field_tag :title, comm.title %>
            <%= hidden_field_tag :school, User.where(CF: params[:CF]).pluck(:school_code) %>
            <%= submit_tag 'Delete', class: 'deleteButton' %>
          <% end %>
        </td> 
      </tr>
    <% end %>
    <% flash.each do |key, message| %>
            <div class="flash <%= key %>">
                <%= message %>
            </div>
        <% end %>
  </tbody>
</table>

    </div>
    </div>



</div>
</body>
</html>