//SCHOOLSTAFF HOME

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "teacher_home.css" %>
    <%# <%= javascript_include_tag('school_staff.js') %> 
    <title>Home</title>
</head>
<body>
    <nav class="navbar">
        <label class="writ">
          name
        </label>
        <div class="profile">
          Profile
        </div>

        <%= form_tag school_staff_checklogout_path, method: :delete do %>
            <%= submit_tag 'Logout', class: 'profile' %>
        <% end %>

      </nav>
    <div class="home">
        <div class="panel-container">

            
            <%= link_to "/staff/comunications" do %>
            <div class="panel">
                Communications
            </div>
            <% end %>

            <%= link_to school_staff_manage_path do %>
                <div class="panel">
                    Manage School profiles
                </div>
            <% end %>
        
        
            <%= link_to "/staff/schedule" do %>
                <div class="panel">
                        Class schedule
                </div>
            <% end %>
            
        </div>
    </div>
    
</body>
</html>