<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "profile.css" %>
    <%= javascript_include_tag('staff.js') %>
    <title>Profile</title>
</head>
<body>
<div id="popupcontainer"></div>
<nav class="navbar">
<%= link_to school_staff_home_path(CF: params[:CF]),class: 'link-profile no-underline' do%>
        <div class="writ">
          OneSchool
        </div>
<%end%>
        <%= link_to school_staff_profile_url(CF: params[:CF]),class: 'link-profile no-underline' do %>
            <div class="profile">
                Profile
            </div>
        <% end %>
      </nav>
    <div class="home">
        <div class="main-panel">
            <label class="profile-field">Name: <%= @staff.name %> </label>
            <label class="profile-field">Surname: <%= @staff.surname %> </label>
            <label class="profile-field">CF: <%= @staff.CF %> </label>
            <label class="profile-field">Email: <%= @staff.mail %> </label>
            <label class="profile-field">SchoolCode: <%= @staff.school_code %> </label>
            <div class="button-container">
                <button class="style-button" onclick="editpassword('<%= @staff.CF%>', '<%= @staff.mail%>')">Edit password</button>
                <%= form_tag school_staff_checklogout_path, method: :delete do %>
                    <%= submit_tag 'Logout', class: 'style-button' %> 
                <% end %> 
            </div>
            
        </div>
    </div>
</body>
</html>