<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "staff_subject_manage.css" %>
    <%= javascript_include_tag('staff.js') %>

     <title>Document</title>
</head>
<body>
<div id="popupContainer"></div>
<nav class="navbar">
<%= link_to school_staff_home_path(CF: params[:CF]),class: 'link-profile no-underline' do%>
        <div class="writ">
          OneSchool
        </div>
<%end%>
        <%= link_to school_staff_profile_url(CF: params[:CF]),class: 'link-profile no-underline' do %>
            <div class="profile">
                Profile
            </div>
        <% end %>
      </nav>
    <div class="home">
        <div class="upper-bottons">
        <%= link_to school_staff_class_manage_path(CF: params[:CF]),class: 'link-profile no-underline' do %>
            <div class="up-botton" id="first-botton" >
              Class Manage
            </div><%end%>
            <%= link_to school_staff_subject_manage_path(CF: params[:CF]),class: 'link-profile no-underline' do%>
            <div class="up-botton" id="second-botton" >
                Subject Manage
            </div><%end%>
            <%= link_to school_staff_timetable_path(CF: params[:CF]),class: 'link-profile no-underline' do%>
            <div class="up-botton" id="third-botton">
                Timetables
            </div><%end%>
            </div> 
<div class="main-panel">
    <div class="panel" id="first-panel" style="display:flex;">
<div class="select-add">
    <%= form_with url: staff_searchsubject_path, method: :get,class: 'form-search'  do |form| %>
    <%= form.label :search, "Search for Name:" , class: "label-field"%>
    <%= form.text_field :search %>
    <%= form.submit "Search", class: 'style-button-small' %>
    <%= hidden_field_tag :school, User.where(CF: params[:CF]).pluck(:school_code) %>
    <%= hidden_field_tag :CF, params[:CF] %>
    <% end %>        
     <button id="addSubjectButton" class="style-button" onclick="openAddSubjectForm(<%= params[:CF].to_json %>);"> Add a New Subject</button>
</div>

    <div id="manageAdminTableDiv">
    <table class="tabella">
  <thead>
    <tr>
      <th>Name</th>
      <th>Class</th>
      <th>Teacher</th>

      <th colspan="5"></th>
    </tr>
  </thead>
    <tbody>

    <% if @ret_sub == "NOT_FOUND"%>
    <% params[:search] =""%>
    <%=link_to "Reset Search", school_staff_subject_manage_path(CF: params[:CF])%>

    <% else  %>
    <% if @ret_sub.present? %>
        <% @subjects = @ret_sub %>
        <% params[:search] =""%>
    <%=link_to "Reset Search", school_staff_subject_manage_path(CF: params[:CF])%>
    <% else %>
        <% @subjects = Subject.where(school_code: User.where(CF: params[:CF]).pluck(:school_code).uniq.first).order(:class_code).pluck(:name, :class_code, :CFprof).uniq
%>
    <%end%>
    <% @subjects.each do |subj| %>
    <tr>
        <td class="center"><%= subj[0]%></td>
        <td class="center"><%= subj[1] %></td>
        <td class="center"><%= subj[2] %></td>
<td class="center"><button onclick="editSubjectForm(<%= 
  Subject.where(school_code: User.where(CF: params[:CF]).pluck(:school_code).uniq.first, class_code: subj[1], name: subj[0], CFprof: subj[2]).order(Arel.sql("CASE weekday
  WHEN 'MONDAY' THEN 1
  WHEN 'TUESDAY' THEN 2
  WHEN 'WEDNESDAY' THEN 3
  WHEN 'THURSDAY' THEN 4
  WHEN 'FRIDAY' THEN 5
  WHEN 'SATURDAY' THEN 6
END")).pluck(:name, :class_code, :CFprof, :weekday,:time).uniq.to_json %>,<%= params[:CF].to_json %>);">Edit</button></td>
<td class="center"> <%= form_tag school_staff_subject_deletee_path, method: :delete do %>
            <%= hidden_field_tag :subj_name, subj[0] %>
            <%= hidden_field_tag :subj_class, subj[1] %>
            <%= hidden_field_tag :subj_teacher, subj[2] %>
            <%= hidden_field_tag :CF, params[:CF] %>
            <%= submit_tag 'Delete', class: 'deleteButton' %>   </td> 
    <% end %>   
    <%end%>
    <%end%>
        <% flash.each do |key, message| %>
            <div class="flash <%= key %>">
                <%= message %>
            </div>
        <% end %>

</tbody>
    </table>
    </div>
    </div>

</div>
</body>
</html>