<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "family_absence.css" %>
    <title>Document</title>
    

</head>
<body>
    <nav class="navbar" id = "absencenav">
        <%= link_to family_home_url(CF: params[:CF], CFstudent: params[:CFstudent]), class: "link-profile no-underline" do %>
            <div class="writ">
                OneSchool
            </div>
        <% end %>

        <% if $onlyChild == false%>
            <%= link_to family_choose_url(CF: params[:CF]), class: "link-profile no-underline" do %>
                <div class="profile">
                    Change student
                </div>
            <% end %>
        <%end%>

        <%= link_to family_profile_url(CF: params[:CF], CFstudent: params[:CFstudent]), class: "link-profile no-underline" do %>
            <div class="profile">
                Profile
            </div>
        <% end %>
    </nav>

    <div class="title-absences">Student absences</div>
    <div class= "s-absence-panel">
          
        <table class="student-absence-container-2">
            <thead class="options-title">
                <tr>
                <th class="tab-title"> Date</th>
                <th class="tab-title"> Subject</th>
                <th class="tab-title"> Teacher</th>
                <th class="tab-title"> Justify</th>
                </tr>
            </thead>

            <tbody class="tab-body">

                <% @absences.each do |absence| %>
                    <tr>
                        <td class="tab-col"><%= absence.date.strftime('%d/%m/%Y') %></td>

                        <td class="tab-col"><%= absence.subject_name %></td>

                        <% @teacher = Teacher.find_by(CF: absence.CFprof)%>

                        <td class="tab-col">
                        <%= @teacher.name %>
                        <%= @teacher.surname %>
                        <br>
                        </td>

                         <td class="tab-col">
                         <div class="just" id="<%= absence.id %>just">
                        <%= absence.justified %>
                        </div>
                        <br>
                        </td>
                        

                        <% @justif = absence.justified %>
                        <td class="tab-col">
                        <% if !@justif %>
                            <%= form_with model: @family, url: family_justify_url, class: 'form-booked', method: :post do |form| %>
                                <%= hidden_field_tag :CF, params[:CF] %>
                                <%= hidden_field_tag :CFprof, params[:CFprof] %>
                                <%= hidden_field_tag :CFstudent, params[:CFstudent] %>
                                <%= hidden_field_tag :abteach, absence.CFprof %>
                                <%= hidden_field_tag :school_code, absence.school_code %>
                                <%= hidden_field_tag :class_code, absence.class_code %>
                                <%= hidden_field_tag :date, absence.date %>
                                <%= hidden_field_tag :weekday, absence.weekday %>
                                <%= hidden_field_tag :time, absence.time %>
                                <%= hidden_field_tag :subject_name, absence.subject_name %>
                                <%= hidden_field_tag :justified, absence.justified %>

                                <%#= select_tag :CFstudent, options_for_select(@student.map { |student| ["#{student[:name]} #{student[:surname]}", student[:CF]] }), class: "student-field", multiple: true %>
                                <%= form.submit "Justify", class: "button-submit", id:  absence.id %>
                            <% end %>
                        <%end%>
                        <br>
                        </td>
                  
                    
                    </tr>

                <% end %>

            </tbody>
        </table>
    </div>
    </div>
</body>
</html>
