<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_include_tag('family.js') %>
    <%= stylesheet_link_tag "family_choose.css" %>

    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <%= link_to family_choose_url(CF: params[:CF]) do %>
            <div class="profile">
                home
            </div>
        <% end %>

        <div class="profile">
          Profile
        </div>

        <%= form_tag family_checklogout_path, method: :delete do %>
            <%= submit_tag 'Logout', class: 'profile' %>
        <% end %>
    </nav>

    <label for="scelta">Seleziona un'opzione:</label>
    <% @family = Family.find_by(CF: params[:CF]) %>
    <% @family_students = FamilyStudent.select(:CFstudent, :CFfamily).where(CFfamily: @family.CF).distinct %>
    
    
        
    
        
        <% @family_students.each do |family_student| %>
            <% @student = Student.find_by(CF: family_student[:CFstudent]) %>
            <%= link_to family_home_url(CF: params[:CF], CFstudent: @student.CF) do %>
                <option value=<%= @student.CF %>> <%= "#{@student.name}  #{@student.surname}" %> </option>
            <% end %>
        <% end %>
    
    

    

    
</body>
</html>