<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "family_choose.css" %>
    <%# <%= javascript_include_tag('teacher.js') %> 
    <title>Home</title>
</head>
<body>
    <nav class="navbar">
        <%= link_to family_home_url(CF: params[:CF], CFstudent: params[:CFstudent]) do %>
            <div class="profile">
                home
            </div>
        <% end %>

        <%= link_to family_choose_url(CF: params[:CF]) do %>
            <div class="profile">
                Change student
            </div>
        <% end %>

       

        <%= link_to family_profile_url(CF: params[:CF]) do %>
            <div class="profile">
                Profile
            </div>
        <% end %>
    </nav>


    <div class="home">
        <div class="panel-container">

            <%= link_to family_grades_url(CF: params[:CF], CFstudent: params[:CFstudent]) do %>
                <div class="panel">
                    Grades
                </div>
            <% end %>

            <%= link_to family_absences_url(CF: params[:CF], CFstudent: params[:CFstudent]) do %>
            <div class="panel">
                absences
            </div>
             <% end %>
            
            <%= link_to family_meeting_choice_url(CF: params[:CF], CFstudent: params[:CFstudent]) do %>
                <div class="panel">
                    Meeting
                </div>
            <% end %>


            <%= link_to "/login_schoolstaff" do %>
            <div class="panel">
                agenda
            </div>
             <% end %>

            <%= link_to family_news_url(CF: params[:CF], CFstudent: params[:CFstudent]) do %>
            <div class="panel">
                news
            </div>
             <% end %>

            <%= link_to family_notes_url(CF: params[:CF], CFstudent: params[:CFstudent]) do %>
            <div class="panel">
                personal notes
            </div>
             <% end %>
        </div>
    </div>
    
</body>
</html>