<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_include_tag('family.js') %>
    <%= stylesheet_link_tag "family_meeting_choice.css" %>

    <title>Document</title>
</head>
<body>
    <nav class="navbar" id = "absencenav">
        <%= link_to family_home_url(CF: params[:CF], CFstudent: params[:CFstudent]), class: "link-profile no-underline" do %>
            <div class="writ">
                OneSchool
            </div>
        <% end %>

        <% if $onlyChild == false%>
            <%= link_to family_choose_url(CF: params[:CF]), class: "link-profile no-underline" do %>
                <div class="profile">
                    Change student
                </div>
            <% end %>
        <% end %>

        <%= link_to family_profile_url(CF: params[:CF],  CFstudent: params[:CFstudent]), class: "link-profile no-underline" do %>
            <div class="profile">
                Profile
            </div>
        <% end %>
    </nav>

    <table class ="student-absence-container-2">
            <thead class="options-title">
                <tr>
                <th class="tab-title">Teacher</th>
                <th class="tab-title">Subject</th>
                <th class="tab-title">Select</th>
                </tr>
            </thead>

            <tbody class="tab-body">

                <% @family = Family.find_by(CF: params[:CF]) %>
                <% @student = Student.find_by(CF: params[:CFstudent])%>
                <% @classrooms = ClassRoom.find_by(class_code: @student.student_class_code, school_code: @student.school_code)%>
                <% @unique_subjects = Subject.where(class_code: @classrooms.class_code, school_code: @classrooms.school_code).distinct.pluck(:name, :CFprof)%>
                



                <% @unique_subjects.each do |unique_subject| %>
                    
                    <tr class = "option">
                        <td class="tab-col">
                            <% @teacher = Teacher.find_by(CF: unique_subject[1]) %>
                            <%= @teacher.name%>
                            <%= @teacher.surname%>
                        </td>

                        <td class="tab-col">
                            <%= unique_subject[0]%>
                        </td>

                        <td class="tab-col">
                            <%= link_to family_meeting_manage_url(CF: params[:CF], CFstudent: params[:CFstudent], CFprof:@teacher.CF), id:  @teacher.CF + "meeting_link" do %>
                                <button class="button-submit">
                                    meeting
                                </button>
                            <% end %>
                        </td>
                        
                    </tr>
                    
                <% end %>
            </tbody>
        </table>
    
    
</body>
</html>