<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "profile.css" %>
    <%= javascript_include_tag('family.js') %>
    <title>Profile</title>
</head>
<body>
    <div id="popupcontainer"></div>
    <nav class="navbar">
        <%= link_to family_home_url(CF: params[:CF], CFstudent: params[:CFstudent]),class: 'link-profile no-underline'  do %>
            <div class="writ">
                OneSchool
            </div>
        <% end %>

        <% if $onlyChild == false%>
            <%= link_to family_choose_url(CF: params[:CF]),class: 'link-profile no-underline'  do %>
                <div class="profile">
                    Change student
                </div>
            <% end %>
        <%end%>
        
      </nav>
    <div class="home">
        <div class="main-panel">
            <label class="profile-field">Name: <%= @family.name %> </label>
            <label class="profile-field">Surname: <%= @family.surname %> </label>
            <label class="profile-field">CF: <%= @family.CF %> </label>
            <label class="profile-field">Email: <%= @family.mail %> </label>
            <label class="profile-field">SchoolCode: <%= @family.school_code %> </label>
            <div class="button-container">
                <button class="style-button" onclick="editpassword('<%= @family.CF%>', '<%= @family.mail%>')">Modifica password</button>
                <%= form_tag family_checklogout_path, method: :delete do %>
                    <%= submit_tag 'Logout', class: 'style-button' %> 
                <% end %> 
            </div>
            
        </div>
    </div>
</body>
</html>