<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OneSchool</title>
</head>
<body>
    <nav class="navbar">
      <label class="writ">
        sas
      </label>
    
    <%= link_to "/admin/signup" do %>
      <div class="profile">
        Profile
      </div>
      <% end %>
    </nav>
    
    <div class="home">
        <label class="title">OneSchool</label>
        <div class="panel-container">
            <%= link_to "schoolstaff/login" do %>
            <div class="panel">
                Schoolstaff
            </div>
            <% end %> 
            <%= link_to "family/login" do %>
            <div class="panel">
                Parent
            </div>
            <% end %>
            <%= link_to teacher_login_url do %>
            <div class="panel ">
                Teacher
            </div>
             <% end %> 
            <%= link_to "student/login" do %>
            <div class="panel">
                Student
            </div>
            <% end %> 

        </div>
    </div>
</body>
</html>