<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OneSchool</title>
</head>
<body>
    <nav class="navbar">
      <label class="writ">
        sas
      </label>
    
    <%= link_to "/admin/signup" do %>

      <div class="profile">
        Profile
      </div>
      <% end %>
    </nav>
   
    
    <div class="home">
        <label class="title">OneSchool</label>
        <div class="panel-container">

            <%= link_to school_staff_login_url do %>
              <div class="panel">
                  Schoolstaff
              </div>
            <% end %>  

            <%= link_to family_login_url do %>
            <div class="panel">
                Family
            </div>
            <% end %>

            <%= link_to teacher_login_url do %>
            <div class="panel ">
                Teacher
            </div>
             <% end %> 

            <%= link_to student_login_url do %>
            <div class="panel">
                Student
            </div>
            <% end %> 

        </div>
    </div>
</body>
</html>